*{
  font-family: Signika;
}
body{
  background-color: #737373;
}
/* CADASTRO DE MÈDICOS */
nav{
  background-color: #0094CF;
}

.bg1{
  margin-left: 170px;
  height: 320px;
}

.bg2{
  margin-right: 170px;
}
.anav{
  
  color: #0094CF;
  background-color: #ffffff;
  font-size: 15px;
  padding: 8px;
  margin-right: 250px;
}
.anav:hover{
  text-decoration: none;
}

.div1{
  background-color: #ffffff;
  width: 28%;
}

.h1div1{
  color: #004768;
  font-size: 22px;
  padding: 0;
  font-weight: bold;
}

label{
  color: #004768;
  margin-bottom: 0px;
}

.divin{
  margin-left: 0;
  margin-right: 0;
}
.divin input{
  height: 30px;
}
.divin input.i{
  color: #004768;
}

.b{
  font-size: 15px;
}

a .voltar{
  color: #0094CF;
}

/* LISTAGEM DE MÈDICOS */


.dadoMed{
  color: #004768;
  font-size: 20px;
  font-weight: bold;
}

.div2{
  background-color: #ffffff;
}

a.data{
  background-color: #0094CF;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
a.data:hover{
  color: #737373;
}

a.datap{
  background-color: #737373;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
a.datap:hover{
  color: #0094CF;
}

a.btnE, a.btnH{
   border: solid 1px #0094CF;
   color: #0094CF;
   height: 27px;
}
a.btnE:hover, a.btnH:hover{
  color: #ffffff;
  background-color: #0094CF;
}

/* CADASTRO DE HORÀRIOS */

.data, .btnExc{
  font-size: 13px;
}

.btnExc{
  color: red;
}

.data{
  color: #004768;
  margin-top: 5px;
}

@media screen and (max-width: 576px) {
  .div1{
    width: 70%;
    
  }
  .h1nav{
    margin-left: 300px;
  }

  a.data{
    font-size: 11px;
  }
 
  .anav{
    margin-right: 0;
  }
 
}